{%  extends 'portal/main.html' %}
{% load static %}

{% block content %}

    <!-- Content Section -->
    <div class="contents">

        <!-- start Home Slider -->
        <section id="featured">
            <!-- start slider -->
            <!-- Slider -->                                          
            <div id="main-slider" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="https://kemensos.go.id/uploads/banners/16046008864310.png" alt="Tolak Gratifikasi"/>
                        <div class="flex-caption" id="div-noshow">                                                                                                    </div>
                    </li>
                    <li>
                        <img src="https://kemensos.go.id/uploads/banners/15816544637635.jpg" alt="Kemensos Hadir"/>
                        <div class="flex-caption" id="div-noshow"></div>
                     </li>
                </ul>
            </div>
            <!-- end slider -->
        </section>
        <!-- end Home Slider -->
    </div>
        <section class="content-row-no-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" style="margin-bottom: 0;">
                            <div class="col-lg-4">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>Hasil Ujian Inpassing Jabatan Fungsional PBJ</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate cum perferendis saepe incidunt, quaerat ratione nostrum sequi facilis. Perspiciatis, mollitia. Quia voluptates repellat aliquam recusandae maiores delectus necessitatibus tenetur.</p>
                                    </div>
                                    <div class="box-bottom">
                                        <a href="#">Lebih Detail</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>Pelaksanaan Kegiatan Bimtek Pekerjaan Konstruksi</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate cum perferendis saepe incidunt, quaerat ratione nostrum sequi facilis. Perspiciatis, mollitia. Quia voluptates repellat aliquam recusandae maiores delectus necessitatibus tenetur.</p>
                                    </div>
                                    <div class="box-bottom">
                                        <a href="#">Lebih Detail</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>Pengumuman Penerimaan Jabatan Fungsional PBJ</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate cum perferendis saepe incidunt, quaerat ratione nostrum sequi facilis. Perspiciatis, mollitia. Quia voluptates repellat aliquam recusandae maiores delectus necessitatibus tenetur.</p>
                                    </div>
                                    <div class="box-bottom">
                                        <a href="#">Lebih Detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-row-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-row-head">
                            <h2 class="heading white">Berita Terkini</h2>
                            <small></small>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <h4 class="white"><a class="white" href="#">Kegiatan Sosialisasi Peraturan Presiden Nomor 12 Tahun 2021</a></h4>
                                <img src="https://kemensos.go.id/uploads/topics/16152769748171.jfif" alt="Kegiatan Sosialisasi Peraturan Presiden Nomor 12 Tahun 2021"/>
                                <p class="text-justify">
                                    <br>Jakarta (09 Maret 2021) - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis tenetur officia, doloribus quo ipsum molestias velit ducimus quia repellat nihil alias, sint quos optio enim eligendi aliquid saepe. Veritatis, alias...
                                    &nbsp;<a href="#">Baca lebih lanjut
                                    <i class="fa fa-caret-right"></i></a>
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <h4 class="white"><a class="white" href="#">Bimbingan Teknis Tender Pekerjaan Konstruksi</a></h4>
                                <img src="https://kemensos.go.id/uploads/topics/16152769748171.jfif" alt="Bimbingan Teknis Tender Pekerjaan Konstruksi"/>
                                <p class="text-justify">
                                    <br>Bandung (09 April 2021) - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis tenetur officia, doloribus quo ipsum molestias velit ducimus quia repellat nihil alias, sint quos optio enim eligendi aliquid saepe. Veritatis, alias...
                                    &nbsp;<a href="#">Baca lebih lanjut
                                    <i class="fa fa-caret-right"></i></a>
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <h4 class="white"><a class="white" href="#">Launching Aplikasi Sistem Informasi Layanan Tender (SIUT)</a></h4>
                                <img src="https://kemensos.go.id/uploads/topics/16152769748171.jfif" alt="Launching Aplikasi Sistem Informasi Layanan Tender (SIUT)"/>
                                <p class="text-justify">
                                    <br>Surabaya (19 Mei 2021) - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis tenetur officia, doloribus quo ipsum molestias velit ducimus quia repellat nihil alias, sint quos optio enim eligendi aliquid saepe. Veritatis, alias...
                                    &nbsp;<a href="#">Baca lebih lanjut
                                    <i class="fa fa-caret-right"></i></a>
                                </p>
                            </div>
                        </div>                                                                    

                <div class="row">
                    <div class="col-lg-12">
                        <div class="more-btn">
                            <a href="https://kemensos.go.id/ar/berita-terkini" class="btn btn-theme"><i class="fa fa-angle-left"></i>&nbsp; Lihat Lainnya &nbsp;<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            
        </section>
        <section class="content-row-no-bg top-line">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-row-head">
                            <h2 class="heading">Tautan Terkait</h2>
                            <small></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="partners_carousel slide" id="myCarousel" style="direction: ltr">
                        <div class="carousel-inner">
                            <div class="item active">
                                <ul class="thumbnails">
                                    <li class="col-sm-2" id="noshow">
                                        <div>
                                            <div class="thumbnail"  id="noshow">
                                                <a href="#" target="_blank">
                                                    <img src="{% static 'images/kemensos/images/sirup.png' %}" width=229 height=103 data-placement="bottom" title="Sistem Informasi Rencana Umum Pengadaan" alt="Sistem Informasi Rencana Umum Pengadaan">
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                    </li>
                                    <li class="col-sm-2" id="noshow">
                                        <div>
                                            <div class="thumbnail"  id="noshow">
                                                <a href="#" target="_blank">
                                                    <img src="{% static 'images/kemensos/images/simpel.png' %}" data-placement="bottom" title="Sistem Informasi Pengadaan Langsung" alt="Sistem Informasi Pengadaan Langsung">
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                    </li>
                                    <li class="col-sm-2" id="noshow">
                                        <div>
                                            <div class="thumbnail"  id="noshow">
                                                <a href="#" target="_blank">
                                                    <img src="{% static 'images/kemensos/images/lpse.png' %}" data-placement="bottom" title="Layanan Pengadaan Secara Elektronik" alt="Layanan Pengadaan Secara Elektronik">
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                    </li>
                                    <li class="col-sm-2" id="noshow">
                                        <div>
                                            <div class="thumbnail"  id="noshow">
                                                <a href="#" target="_blank">
                                                    <img src="assets/images/kemsos.png" data-placement="bottom" title="kemsos.go.id" alt="kemsos.go.id">
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                    </li>
                                    <li class="col-sm-2" id="noshow">
                                        <div>
                                            <div class="thumbnail"  id="noshow">
                                                <a href="#" target="_blank">
                                                    <img src="assets/images/siut.png" data-placement="bottom" title="Sistem Informasi Usulan Tender" alt="Sistem Informasi Usulan Tender">
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                    </li>
                                    <li class="col-sm-2" id="noshow">
                                        <div>
                                            <div class="thumbnail"  id="noshow">
                                                <a href="#" target="_blank">
                                                    <img src="assets/images/inaproc.png" data-placement="bottom" title="Sistem Informasi Rencana Umum Pengadaan" alt="Sistem Informasi Rencana Umum Pengadaan">
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                    </li>                                                                                
                                </ul>
                            </div><!-- /Slide -->
                        </div>
                    </div><!-- /#myCarousel -->
                </div>

            </div>

        </section>
    </div>
    <!-- end of Content Section -->

    {% endblock %}