{%  extends 'portal/main.html' %}
{% load static %}

{% block content %}

    <!-- Content Section -->
    <div class="contents">

        <!-- start Home Slider -->
        <section id="featured">
            <!-- start slider -->
            <!-- Slider -->                                          
            <div id="main-slider" class="flexslider">
                <ul class="slides">
                    {% for banner in banners %}
                    <li>
                        <img src="{{banner.picture.url}}" alt="{{banner.description}}"/>
                        <div class="flex-caption" id="div-noshow">                                                                                                    </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- end slider -->
        </section>
        <!-- end Home Slider -->
    </div>
        <section class="content-row-no-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" style="margin-bottom: 0;">
                            {% for pengumuman in pengumuman %}
                            <div class="col-lg-4">
                                <div class="box">
                                    <div class="box-gray aligncenter">
                                        <h4>{{pengumuman.title}}</h4>
                                        <p>{{pengumuman.description|safe|truncatechars:250}}</p>
                                    </div>
                                    <div class="box-bottom">
                                        <a href="{% url 'detil_pengumuman' pengumuman.id %}">Lebih Detail</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-row-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-row-head">
                            <h2 class="heading white">Berita Terkini</h2>
                            <small></small>
                        </div>
                        
                        <div class="row">
                            {% for kontenberita in berita %}
                            <div class="col-lg-4">
                                <h4 class="white"><a class="white" href="#">{{kontenberita.title}}</a></h4>
                                {% if kontenberita.image %}
                                <a href="{% url 'detil_berita' kontenberita.id %}">
                                    <img src="{{ kontenberita.image.url }}" alt="{{ kontenberita.title }}"/>
                                </a>
                                {% endif %}
                                <p class="text-justify"><br>{{kontenberita.description|safe|truncatechars:350}}&nbsp;
                                    <a href="{% url 'detil_berita' kontenberita.id %}"> lebih lanjut <i class="fa fa-caret-right"></i></a>
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                                                                                           

                <div class="row">
                    <div class="col-lg-12">
                        <div class="more-btn">
                            <a href="{% url 'berita' %}" class="btn btn-theme"><i class="fa fa-angle-left"></i>&nbsp; Lihat Lainnya &nbsp;<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            
        </section>
        <section class="content-row-no-bg top-line">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-row-head">
                            <h2 class="heading">Tautan Terkait </h2>
                            <small></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="partners_carousel slide" id="myCarousel" style="direction: ltr">
                        <div class="carousel-inner">
                            <div class="item active">
                                <ul class="thumbnails">
                                    {% for link in link_app1 %}
                                    <li class="col-sm-2" id="noshow">
                                        <div>
                                            <div class="thumbnail"  id="noshow">
                                                <a href="{{link.link}}" target="_blank">
                                                    <img src="{{link.thumbnailImage.url}}" class="img-responsive" data-placement="bottom" title="{{link.title}}" alt="{{link.title}}">
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                    </li>
                                    {% endfor %}                                          
                                </ul>
                            </div><!-- /Slide -->

                            <div class="item">
                                <ul class="thumbnails">
                                    {% for link in link_app2 %}
                                    <li class="col-sm-2" id="noshow">
                                        <div>
                                            <div class="thumbnail"  id="noshow">
                                                <a href="{{link.link}}" target="_blank">
                                                    <img src="{{link.thumbnailImage.url}}" class="img-responsive" data-placement="bottom" title="{{link.title}}" alt="{{link.title}}">
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                    </li>
                                    {% endfor %}                                                                 
                                </ul>
                            </div><!-- /Slide -->
                                
                        </div>
                        <nav>
                            <ul class="control-box pager">
                                <li><a data-slide="prev" href="https://kemensos.go.id/#myCarousel" class=""><i class="fa fa-angle-left"></i></a></li>
                                
                                
                                <li><a data-slide="next" href="https://kemensos.go.id/#myCarousel" class=""><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </nav>
                        <!-- /.control-box -->

                    </div><!-- /#myCarousel -->
                </div>

            </div>

        </section>
    </div>
    <!-- end of Content Section -->

    {% endblock %}